

body {
  background-color: #d3dad0;
  font-family: "Europa-light";
  font-size: 22px;
  color: #5f7d6b;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 210px;
  width: 100%;
  border-bottom: solid 1px seashell;
  position: fixed;
  z-index: 1;
  background-color: #5f7d6b;
  top: 0px;
  left: 0px;
}

.logo {
  flex-grow: ;
}

.logopic {
  height: 50px;
  width: auto;
  margin-top: 25px;
}

.topnav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 25%;
  text-align: center;
  font-size: 16px;

}
a:link {
  color: #d3dad0;
}
a:visited {
  color: #d3dad0;
}
a:hover {
  color: white;
}
a:active {
  color: #d3dad0;
}

.topnav p {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 20px 0px 20px;
  opacity: .9;
}

.main1 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  position: relative;
  top: 69px;

}

.section2 {
  background-color: #cdc6c4;
  text-align: center;
  width: 80%;
  opacity: .9

}

.main2 {
  display: flex;
  flex-direction: column;
  width: 1000px;
  padding-bottom: 10px;
  padding-top: 50px;
}

.teaofmonth {
  text-align: center;
}

.tearow1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

}

.tearow2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.berryblitz {
  background-image: url("../images/img-berryblitz.jpg");
  height: 200px;
  width: 300px;

}

.spicedrum {
  background-image: url("../images/img-spiced-rum.jpg");
  height: 200px;
  width: 300px;
}

.donuts {
  background-image: url("../images/img-donut.jpg");
  height: 200px;
  width: 300px;
}

.myrtleave {
  background-image: url("../images/img-myrtle-ave.jpg");
  height: 200px;
  width: 300px;
}

.bedfordbizarre {
  background-image: url("../images/img-bedford-bizarre.jpg");
  height: 200px;
  width: 300px;
}
.tea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 300px 200px;
  height: 200px;
  width: 300px;
}

.tearow2 .tea {
  margin: 20px;
}

.tea h4 {
  position: relative;
  top: 120px;
}

.main3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  background-image: url("../images/img-locations-background.jpg");

}

.downtown {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.eastbayside {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right:20px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.downtown, .eastbayside, .oakdale {
  height: 300px;
  width: 300px;
  background-color: #cdc6c4;
  align-items: center;
  justify-content: space-around;
  opacity: .7;


}

#locations {
  text-align: center;
  position: relative;
  top: 120px;
}

.info {
  text-align: center;
  padding: 5px;
}

footer {
  height: 200px;
  position: relative;
  top: 50px;
}

#copyright {
  text-align: left;
  padding: 0px 20px 20px 20px;
  font-size: 12px;
}
